* {
  font-family: 'ABeeZee', sans-serif;
}


/*-----Home Page-----*/
.formcontainer {
  background-color: #b1fcb1;
  padding-top: 10px;
  text-align: center;
}
.homeh2 {
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}
.homelabel {
  font-size: 30px;

}
.homeinputs {
  font-size: 20px;
  margin: 5px 0 25px 0;
}


/*-----Search Results Page-----*/
#flightBoard {
  background-color: lightgreen;
  /*width: 800px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flightSearchContainer {
  background-color: lightblue;
  display: inline-block;
  width: 400px;
}

.flightBox {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*margin: auto;*/
  /*text-align: center;*/
}

.eachDest {
  /*background-color: lightyellow;*/
  display: inline-block;
  width: 50%;
  margin-left: 10px;
}

.buttonArea {
  display: inline-block;
  /*background-color: red;*/
  margin: auto;
}

.displayInfoButton {
  font-size: 30px;
}

.flightDisplayContainer {
  /*background-color: aqua;*/
  display: inline-block;
  margin: 20px 30px;
  float: top;
  width: 500px;
}
/*flight0*/
#selectedFlight0 {
  /*background-color: yellow;*/
  display: none;
  position: absolute;
}
#saveButton0 {
  display: none;
  position: absolute;
  right: 50px;
}
/*flight1*/
#selectedFlight1 {
  /*background-color: yellow;*/
  display: none;
  position: absolute;
}
#saveButton1 {
  display: none;
  position: absolute;
  right: 50px;
}
/*flight2*/
#selectedFlight2 {
  /*background-color: yellow;*/
  display: none;
  position: absolute;
}
#saveButton2 {
  display: none;
  position: absolute;
  right: 50px;
}
/*flight3*/
#selectedFlight3 {
  /*background-color: yellow;*/
  display: none;
  position: absolute;
}
#saveButton3 {
  display: none;
  position: absolute;
  right: 50px;
}
/*flight4*/
#selectedFlight4 {
  /*background-color: yellow;*/
  display: none;
  position: absolute;
}
#saveButton4 {
  display: none;
  position: absolute;
  right: 50px;
}

/*-----History Page-----*/
.historyDisplayContainer {
  background-color: lightgreen;
  border: 1px solid black;
  /*height: 400px;*/
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.userInfoHistory {
  /*background-color: orange;*/
  width: 250px;
  display: inline-block;
  /*padding: 5px;*/
  margin: 0 10px;
}

/*edit & update elements*/
.allDeleteButtons {
  font-size: 13px;
}
.allUpdateBoxes {
  /*background-color: green;*/
  width: 310px;
  margin: 10px;
}
.allEditButtons {
  font-size: 13px;
}
.allUpdateButtons {
  /*background-color: yellow;*/
  display: none;
  font-size: 13px;
}
.allEditLabels {
  /*color: red;*/
  display: none;
  font-size: 20px;
}
.allUpdateBoxes {

}
.allReminderBoxes {
  height: 50px;
  width: 300px;
  display: none;
}



/*edit 0*/
.editLabel0 {
/*  color: red;
  display: none;*/
}
.reminderBox0 {
/*  height: 50px;
  width: 300px;
  display: none;*/
}
.updateButton0 {
/*  background-color: yellow;
  display: none;*/
}
/*edit 1*/
/*
.editLabel1 {
  color: red;
  display: none;
}
.reminderBox1 {
  height: 50px;
  width: 300px;
  display: none;
}
.updateButton1 {
  background-color: yellow;
  display: none;
}
/*edit 2*/
/*
.editLabel2 {
  color: red;
  display: none;
}
.reminderBox2 {
  height: 50px;
  width: 300px;
  display: none;
}
.updateButton2 {
  background-color: yellow;
  display: none;
}
*/
/*edit 3*/
/*
.editLabel3 {
  color: red;
  display: none;
}
.reminderBox3 {
  height: 50px;
  width: 300px;
  display: none;
}
.updateButton3 {
  background-color: yellow;
  display: none;
}
*/
/*edit 4*/
/*
.editLabel4 {
  color: red;
  display: none;
}
.reminderBox4 {
  height: 50px;
  width: 300px;
  display: none;
}
.updateButton4 {
  background-color: yellow;
  display: none;
}
*/

