/*-----Apply to All Pages-----*/
* {
  font-family: 'Economica', sans-serif;
}
a {
  text-decoration: none;
}

/*-----Index Page-----*/
.flightsheader {
  /*background-color: aqua;*/
  text-align: center;
  font-size: 55px;
  margin: 25px;
}

.linkscontainer {
  text-align: center;
  margin-top: 45px;
}

.logsignlinks {
  margin: 20px;
  font-size: 30px;
  background-color: lightgreen;
  border: 1px solid black;
  padding: 8px;
}

.searchDescription {
  font-size: 35px;
  text-align: center;
}

/*-----Login/Signup Pages-----*/
.links {
  font-size: 20px;
  background-color: lightgrey;
  border: 1px solid black;
  padding: 8px;
}

.navlinks {
  margin: 20px;
  font-size: 20px;
}

.lisuncontainer {
  text-align: center;
  margin-top: 50px;
}
.subtitleheader {
  margin-bottom: 40px;
  text-decoration: underline;
}

/*-----Home Page-----*/
.logoutButton {
  float: right;
}
.globalContainer {
  margin: 25px;
}

.formcontainer {
  background-color: #b1fcb1;
  padding-top: 10px;
  text-align: center;
}
/*.homeh2 {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}*/
.homelabel {
  font-size: 28px;
}
.homeinputs {
  font-size: 17px;
  margin: 5px 0 25px 0;
}


/*-----Search Results Page-----*/
#flightBoard {
  background-color: lightgreen;
  /*width: 800px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flightSearchContainer {
  background-color: lightblue;
  display: inline-block;
  width: 400px;
}

.flightBox {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*margin: auto;*/
  /*text-align: center;*/
}
.globalContainersearch {
  margin: 25px;
}

.eachDest {
  /*background-color: lightyellow;*/
  display: inline-block;
  font-size: 25px;
  width: 50%;
  margin-left: 10px;
}

.buttonArea {
  display: inline-block;
  /*background-color: red;*/
  margin: auto;
}

.seedetailsbtn {
  background-color: blue;
  margin: auto;
}

.displayInfoButton {
  font-size: 15px;
  height: 25px;
  /*margin: auto;*/
}

.flightDisplayContainer {
  /*background-color: aqua;*/
  display: inline-block;
  margin: 20px 30px;
  float: top;
  width: 500px;
}
/*flight0*/
.selectedFlight {
  display: none;
  position: absolute;
  /*background-color: green;*/
  font-size: 25px;
}
.saveButton {
  display: none;
  position: absolute;
  right: 50px;
}

#reminderboxes {
  font-size: 15px;
  /*height: 70px;*/
  /*width: 100px;*/
}

#selectedFlight0 {
  /*background-color: yellow;*/
/*  display: none;
  position: absolute;*/
}
#saveButton0 {
/*  display: none;
  position: absolute;
  right: 50px;*/
}
/*flight1*/
/*#selectedFlight1 {*/
  /*background-color: yellow;*/
/*  display: none;
  position: absolute;
}
#saveButton1 {
  display: none;
  position: absolute;
  right: 50px;
}*/
/*flight2*/
/*#selectedFlight2 {*/
  /*background-color: yellow;*/
/*  display: none;
  position: absolute;
}
#saveButton2 {
  display: none;
  position: absolute;
  right: 50px;
}*/
/*flight3*/
/*#selectedFlight3 {*/
  /*background-color: yellow;*/
/*  display: none;
  position: absolute;
}
#saveButton3 {
  display: none;
  position: absolute;
  right: 50px;
}*/
/*flight4*/
/*#selectedFlight4 {*/
  /*background-color: yellow;*/
/*  display: none;
  position: absolute;
}
#saveButton4 {
  display: none;
  position: absolute;
  right: 50px;
}*/

/*-----History Page-----*/
.savedSummary {
  text-align: center;
  margin: 25px;
}
.globalContainer {
  height: 400px;
  /*width: 800px;*/
  /*background-color: pink;*/
  overflow-y: scroll;
}
.historyDisplayContainer {
  /*background-color: lightgreen;*/
  border-top: 1px solid black;
  border-bottom: : 1px solid black;
  /*height: 400px;*/
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.userInfoHistory {
  /*background-color: orange;*/
  width: 230px;
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
  margin-left: 10px;
  /*margin: 0 5px;*/
}
.eddelbuttons {
  /*width: 10px;*/
  padding-top: 22px;
  /*background-color: green;*/
  text-align: center;
}

/*edit & update elements*/
.allDeleteButtons {
  font-size: 13px;
}
.allUpdateBoxes {
  /*background-color: green;*/
  width: 280px;
  margin: 10px;
  margin-top: 20px;
  padding-left: 30px;
}
.allEditButtons {
  font-size: 13px;
  height: 20px;
  margin-top: 5px;
}
.allUpdateButtons {
  /*background-color: yellow;*/
  display: none;
  font-size: 13px;
}
.allEditLabels {
  /*color: red;*/
  display: none;
  font-size: 20px;
}
.allUpdateBoxes {

}
.allReminderBoxes {
  height: 50px;
  width: 250px;
  display: none;
  font-size: 15px;
}

